* {
  font-family: 'Open Sans', Calibri, sans-serif;
}

div.navbar-wrapper {
  background-color: rgb(229,0,0);
  background-image: linear-gradient(to right, rgb(191,0,0), rgb(229,0,0), rgb(191,0,0));

  div.navbar.navbar-inverse {
    margin-top: 10px;
  }
}

img#img-reception {
  margin-bottom: 10px;
}

div#content-container {
  margin-top: 20px;
  
}

div#footer {
  margin-bottom: 30px;
}