<h1>Les spectacles des adultes de la Compagnie</h1>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/Jacquesou.jpg" alt="jacques ou la soumission, Eugène IONESCO">
      <div class="caption">
        <h3 class="text-capitalize">jacques ou la soumission</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.</p>
        <p>
          <button class="btn btn-primary">Button</button>
          <button class="btn btn-danger">Button</button>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/Jacquesou.jpg" alt="jacques ou la soumission, Eugène IONESCO">
      <div class="caption">
        <h3 class="text-capitalize">jacques ou la soumission</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.</p>
        <p>
          <button class="btn btn-primary">Button</button>
          <button class="btn btn-danger">Button</button>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="images/Jacquesou.jpg" alt="jacques ou la soumission, Eugène IONESCO">
      <div class="caption">
        <h3 class="text-capitalize">jacques ou la soumission</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.</p>
        <p>
          <button class="btn btn-primary">Button</button>
          <button class="btn btn-danger">Button</button>
        </p>
      </div>
    </div>
  </div>
</div>