<blockquote>
  <p>Le théâtre est un jeu. Le jeu est un plaisir. Le théâtre est un plaisir</p>
</blockquote>

<h1>La méthode, les objectifs</h1>
<p class="lead">
  La Compagnie offre plus qu'une activité de loisir : elle propose 
  un lieu privilégié d'expression, de culture, de connaissance des Arts...
</p>

<h2>C'est quoi la méthode?</h2>
<p class="text-justify">
  Le projet de spectacle, et l'important travail de préparation qu'il 
  nécessite, apporte aux comédiens l'expérience concrète de l'aboutissement 
  d'un projet artistique commun. 
  <br>
  <br>
  Le thème de l'année est un fil conducteur pour aborder le travail d'atelier, 
  un guide pour déambuler de conférences en séances de visionnage de films, 
  un prétexte pour visiter des expositions et voir des pièces de théâtre, un 
  sujet pour participer à des ateliers de perfectionnement et des stages...
</p>