<blockquote>
  <p>Un théâtre militant des spectacles originaux</p>
</blockquote>

<h1>Des mises en scène précises et foisonnantes<br>au service du théâtre contemporain</h1>
<p class="text-justify">
  La troupe compte à son répertoire plus de 15 créations théâtrales co-écrites 
  par TATA et Didier.
  <br>
  La Compagnie est résolument tournée vers la mise en scène de textes d’auteurs 
  modernes ou contemporains... français et étrangers.
  <br>
  <br>
  Les thèmes sont inspirés par le quotidien, l’absurde, la révolte. Les 
  spectacles, à la fois graves et divertissants, engagés et drôles, nous 
  parlent de liberté, fustigent l’ordre établi et les obligations sociales, 
  bousculent ceux qui se laissent envahir par la torpeur du quotidien.
  <br>
  <br>
  Les mises en scène font la part belle au mouvement et au dynamisme des 
  scènes de groupe. Leur rythme endiablé ne laisse aucun répit au spectateur 
  qui sort de ces aventures essoufflé et émerveillé...
</p>

<h1>Création</h1>
<p>
  La création est l'opposé de l'abolition, l'anéantissement, la destrution, le 
  néant... et les artistes, imprégnés de sensations fortes, se doivent de 
  proposer un regard sur le monde. Parce que le théâtre est vivant, nos textes 
  traitent souvent, par le biais de la comédie, des sujets en phase avec 
  l'actualité sociale, politique... Nos auteurs, unis dans un rejet des a 
  priori, suscitent un intérêt auprès du public, pour peu que le propos soit 
  clair et que la mise en scène permette son appréciation tant par les initiés 
  que par les non-initiés.
</p>