
<blockquote>
  <p>L'art est l'outil privilégié d'une transformation individuelle profonde et durable.</p>
</blockquote>

<h1>Saison 2015-2016</h1>
<p class="lead">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. 
</p>


<h1>Présentation d'automne</h1>
<p class="lead">Hello World </p>
<p class="text-justify">
  Quelques séances pour présenter un travail!
  <br>
  Un texte non dialogué pour créer un évènement collectif. Il s'agit d'une 
  Nouvelle littéraire, une narration dite à plusieurs voix… celles des 
  comédiens de la troupe qui, ensemble, sur la scène, se meuvent, s'émeuvent 
  et racontent...
  <br>
  Chaque groupe (enfant, ado, adulte) se saisit d'un court chapitre de 
  l'œuvre et c'est la réunion de l'équipe complète qui donne lieu à la 
  restitution de l'histoire, devant un public intime constitué des parents 
  les plus proches des élèves (ceux qui vivent sous le même toit).
  <br>
  20 minutes de plaisir partagé, les premiers pas de la saison.
  Un buffet, agrémenté par nos convives, est l'opportunité de faire 
  connaissance, de discuter, de se rencontrer. Cet instant chaleureux et 
  propice aux échanges, clôture cette plaisante soirée.
</p>
