<div class="row">
  <div class="col-md-7">
    <h2>Avis aux amateurs !!!</h2>
    <p class="lead">
      <span class="text-capitalize">La Compagnie</span>
      est une association, loi 1901, créée en janvier 
      1994, à Paris et dans les Hauts-de-Seine, afin que des acteurs amateurs 
      aient la possibilité de s'exprimer au théâtre, grâce à l'art du jeu, et 
      dans une atmosphère convivale... quelque soit leur âge.
    </p>
  </div>
  <div class="col-md-5">
    <img class="img-responsive center-block img-circle" src="images/ubu2.jpg" alt="Image de présentation">
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-7 col-md-push-5">
    <h2>Des professionnels du spectacle créent pour des amateurs passionnés.<span class="text-muted"> Enfants. Ados. Adultes.</span></h2>
    <p class="lead">
      Nous faisons appel à des professionnels du spectacle dont TATA (auteur, 
      metteur en scène, comédienne, professeur de théâtre) qui apportent leur 
      expérience aux élèves et les amènent, par des moyens ludiques, culturels 
      et peu conventionnels, à la création de spectacles de qualité dont ils 
      sont les acteurs.
    </p>
  </div>
  <div class="col-md-5 col-md-pull-7">
    <img class="img-responsive center-block img-circle" src="images/chaudshow2007.jpg" alt="Image de présentation">
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-7">
    <h2>Création de spectacles. <span class="text-muted">Formation de l'acteur.</span></h2>
    <p class="lead">
      Notre but est artistique tout autant que pédagogique. 
      Quels que soient nos projets (cours, stages, ateliers, auditions 
      d'élèves, exhibitions événementielles, créations de spectacles...), 
      notre premier souci est la qualité.
    </p>
  </div>
  <div class="col-md-5">
    <img class="img-responsive center-block img-circle" src="images/activites.jpg" alt="Image de présentation">
  </div>
</div>

<hr>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
    <img class="img-circle center-block" src="images/broadway.jpg" alt="Image de redirection" width="140" height="140">
    <h2 class="text-center">Nous contacter</h2>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.</p>
    <p class="text-center">
      <a class="btn btn-default" href="#/l-evenement" role="button" ng-click="gotoTop()">Plus de détails &raquo;</a>
    </p>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
    <img class="img-circle center-block" src="images/broadway.jpg" alt="Image de redirection" width="140" height="140">
    <h2 class="text-center">Création de spectacles</h2>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.</p>
    <p class="text-center">
      <a class="btn btn-default" href="#/la-saison" role="button" ng-click="gotoTop()">Plus de détails &raquo;</a>
    </p>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0">
    <img class="img-circle center-block" src="images/broadway.jpg" alt="Image de redirection" width="140" height="140">
    <h2 class="text-center">Formation de l'acteur</h2>
    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus.</p>
    <p class="text-center">
      <a class="btn btn-default" href="#/la-compagnie" role="button" ng-click="gotoTop()">Plus de détails &raquo;</a>
    </p>
  </div>
</div>