<blockquote>
  <p>La compagnie : des jeunes de 8 à 88 ans.</p>
</blockquote>

<blockquote class="blockquote-reverse">
  <p>La compagnie : une passerelle entre les Curieux et la Culture.</p>
</blockquote>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h1>Année 2015-2016</h1>

    <p class="text-justify">
      <strong>Chers Compagnons</strong>,
      <br>
      <br>
      Cette 22<sup>ème</sup> saison sera encore l'occasion d'une déambulation 
      créative, théâtrale et culturelle. Cette année encore, nos aventures 
      artistiques graviteront autour d'un thème: <strong><i>Grande guerre et 
          Petit tracas</i></strong>... tout un programme, qui, espérons-le, nous 
      enseignera, nous grandira !
      <br>
      <br>
      Vouée à créer la rencontre entre initiés et non-initiés, l'opportunité d'un 
      dialogue entre deux populations habitées par une même passion, la Compagnie 
      est une troupe de comédiens amateurs passionnés encadrés par des 
      professionnels concernés. C'est pour défendre cette idée que des intermittents 
      du spectacle s'engagent, chaque année, en donnant la parole à ceux qui aiment 
      le théâtre, en les formant au jeu d'acteur, en aiguisant leur regard de 
      spectateur et en leur proposant des conditions de travail au plus près des 
      exigences professionnelles du milieu artistique.
    </p>
  </div>
  <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-0">
    <img src="images/Odri.jpg" class="img-responsive center-block img-rounded" alt="La compagnie - TATA" title="La compagnie - TATA">
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h1>Horaires</h1>

    <div class="panel panel-default">
      <div class="panel-heading">Enfants : de 8 à 11 ans</div>
      <div class="panel-body">
        mardi : de 18h15 à 20h15
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Pré-ados : de 12 à 16 ans</div>
      <div class="panel-body">
        mercredi : de 17h00 à 19h00
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Adolescents : de 17 à 22 ans</div>
      <div class="panel-body">
        mercredi : de 19h00 à 21h00
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Adultes</div>
      <div class="panel-body">
        mardi : de 20h30 à 23h00
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h1>Tarifs</h1>

    <div class="panel panel-default">
      <div class="panel-heading">Cotisation par session</div>
      <div class="panel-body">
        session 1: septembre à février
        <br>
        session 2: mars à juin
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Enfants / Pré-ados</div>
      <div class="panel-body">
        25 kilos
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Adolescents / Adultes</div>
      <div class="panel-body">
        28 kilos
      </div>
    </div>
  </div>
</div>

<p>Les lundis : séances de perfectionnement et d'action culturelle.</p>